SECRET_KEY=change-this-secret-key
FLASK_DEBUG=true
SESSION_COOKIE_SECURE=false
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Admin@123
APP_TIMEZONE=Asia/Kolkata
FACE_MATCH_TOLERANCE=0.48
FRAME_RESIZE_SCALE=0.25
RECOGNITION_MODEL=hog
